html {
	font-size: 12px;
	
}

@media all and (min-device-height: 1000px){
	html{
		font-size: 14px;
	}
}

@media all and (min-device-height: 1300px) {
	html {
		font-size: 16px;
	}
}

body {
	min-width: 45rem;
	margin: 0;
	overflow-x: hidden;
	font-family: arial,sans-serif;
	background-color: #d4e3ff;
}

.playlistControl {
	position: fixed;
	top: 0;
	left: 0;
	background: #d4e3fff0;
	height: 3.5rem;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				-0.25rem -0.25rem 0.5rem #f4ffff;
}
.playlistControl input{
	width: 1rem;
	height: 1rem;
}


#watchNextEnabled{
	display: none;
}


#watchNextEnabled:checked+.autoplay {
	font-size: 1.4rem;
	background: linear-gradient(145deg, #b9d2a3, #dbf9c2);
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				-0.25rem -0.25rem 0.5rem #f4ffff;
	color: #000;
}

.autoplay {
	font-size: 1.4rem;
	margin: auto auto auto 1rem;
	border-radius: 0.25rem;
	background: linear-gradient(145deg, #ffc2bb, #e6a39e);
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				 -0.25rem -0.25rem 0.5rem #f4ffff;
	padding: 0.25rem 1rem;
	cursor: pointer;
	transition: all 0.5s;
	color: #888888;
}


.deleteall{
	margin: auto 1rem auto auto;
}

.deleteall button{
	font-size: 1rem;
	height: 2rem;
	border-radius: 0.25rem;
	background: linear-gradient(145deg, #e3f3ff, #bfcce6);
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				-0.25rem -0.25rem 0.5rem #f4ffff;
	border-width: 0;
	cursor: pointer;
}

.deleteall button.unlocked{
	border-radius: 0.25rem;
	background: linear-gradient(145deg, #d6668e, #ff79a9);
	box-shadow: 0.25rem 0.25rem 0.5rem #ca6086, 
				-0.25rem -0.25rem 0.5rem #ff82b6;
}

.options{
	margin: auto 1rem auto 0;
}

.options #optionsButton{
	font-size: 1.6rem;
	height: 2rem;
	width: 2rem;
	border-radius: 0.25rem;
	background: linear-gradient(145deg, #e3f3ff, #bfcce6);
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				-0.25rem -0.25rem 0.5rem #f4ffff;
	border-width: 0;
	cursor: pointer;
}

.options #optionsButton:active{
	border-radius: 0.25rem;
	background: linear-gradient(145deg, #bfcce6, #e3f3ff);
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				-0.25rem -0.25rem 0.5rem #f4ffff;
	border-width: 0;
}

.history {
	margin-top: 4.5rem;
	display: flex;
	justify-content: space-evenly;
}

.historyItem {
	border-radius: 0.25rem;
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				 -0.25rem -0.25rem 0.5rem #f4ffff;
	height: 7rem;
}

/* .historyItem:last-of-type {

} */

.historyThumbnail {
	position: relative;
	z-index: -1;
	top: 0;
 	left: 0;
	width: 12.5rem;
	height: 7rem;
	opacity: 0.5;
}

.historyControls {
	z-index: 1;
	position: relative;
	top: calc(-50% - 1rem);
	width: 4rem;
	margin: 0 auto;
	opacity: 0.25;
	overflow: hidden;
}	

.historyItem:hover .historyControls {
	opacity: 1;
}

.watchNext {
	margin-top: 1rem;
	overflow-y: auto;
	overflow-x: hidden;
}

.playlistItem {
	background-color: #d4e3ff;
	position: relative;
	display: flex;
	width: 100%;
	height: 8rem;
	margin-bottom: 1rem;
}

.playlistItem:first-of-type{
	z-index: 0;
	margin-top: 1rem;
}

.playlistItem:last-of-type{
	margin-bottom: 3rem;
}

.playlistItem.dragged{
	background-color: #d4e3ff;
	opacity: 0.4;
	padding: 1rem;
	border-radius: 0.25rem;
	background: #d4e3ff;
	box-shadow: inset 0.25rem 0.25rem 0.5rem #b4c1d9, 
				inset -0.25rem -0.25rem 0.5rem #f4ffff;
}

.dragdrop .playlistItem.dragover::before {
	display: block;
	position: absolute;
	top: 0rem;
	width: 100%;
	height: 3rem;
	content: "\00a0\00a0>>>";
	background: rgb(247, 247, 161);
	font-size: 3rem;
	border-radius: 0.25rem;
	box-shadow: inset 0.25rem 0.25rem 0.5rem #b4c1d9, 
				inset -0.25rem -0.25rem 0.5rem #f4ffff;
	z-index: 0;
}


.dragdrop .playlistItem.dragover{
	z-index: 1;
	padding-top: 4rem;
}

.playlistPhantom {
	padding-left: 2rem;
	height: 3rem;
	/* width: 100%; */
	background: rgb(247, 247, 161);
	font-size: 3rem;
	opacity: 0.5;
	margin-top: 0.375rem;
	margin-bottom: 3rem;
	border-radius: 0.25rem;
	box-shadow: inset 0.25rem 0.25rem 0.5rem #b4c1d9, 
				inset -0.25rem -0.25rem 0.5rem #f4ffff;
}

.playlistPhantom.dragover {
	opacity: 1;
}

.dragdrophandle {
	font-size: 3rem;
	flex-basis: 3%;
	cursor: move;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #00000022;
	transition: all 0.5s;
}

.dragdrophandle:hover {
	font-size: 3.5rem;
	color: #000000DD;
	flex-basis: 5%;
	border-radius: 0.25rem;
}

.thumbnailContainer{
	margin: 0 8px 0 0;
	float: left;
	width: 224px;
	cursor: pointer;
	position: relative;
	z-index: 5;
	border-radius: 0.25rem;
	background: #d4e3ff;
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				-0.25rem -0.25rem 0.5rem #f4ffff;
}


.infoContainer{
	flex-basis: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
/* .infoContainer span{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
} */

.title{
	color: #222;
	font-size: 1.4rem;
	font-weight: bold;
	max-height: 1.8rem;
	overflow: hidden;
}

.author,.views{
	color: #444;
	font-size: 1.2rem;
	line-height: 1.4rem;
	height: 1.4rem;
	white-space: nowrap;
}

.controls{
	width: 100%;
	margin-top: auto;
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.duration{
	font-size: 1rem;
	margin: 0 1rem 0 0;
	padding: 0.2rem 1rem;
	border-radius: 0.25rem;
	background: #d4e3ff;
	box-shadow: inset 0.25rem 0.25rem 0.5rem #b4c1d9, 
				inset -0.25rem -0.25rem 0.5rem #f4ffff;
	align-self: flex-end;
}

.controls img{
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	opacity: .1;
}

.infoContainer:hover .controls img{
	opacity: 0.75;
}

.playlistDuration {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0.25rem;
	font-size: 1.2rem;
	background: #d4e3fff0;
	width: 100%;
	min-height: 1.5rem;
	z-index: 5;
	box-shadow: 0.25rem 0.25rem 0.5rem #b4c1d9, 
				-0.25rem -0.25rem 0.5rem #f4ffff;
}